
.articlesBody {
  background-color: var(--white);

  .titleContainer {
    width: 80%;
    margin: 13vw auto 20vw;
    position: relative;

    h1 {
      font-size: 10vw;
      text-transform: uppercase;
      font-weight: 600;
      text-align: center;
    }

    img {
      width: 15vw;
      height: 33vw;
      position: absolute;
    }

    #leftPillow {
      top: -11vw;
      left: -3vw;
    }

    #rightPillow {
      top: -11vw;
      left: 67vw;
    }
  }
}