* {
    box-sizing: border-box;
  }
 
html,
body {
  height: 100%;
}
  
body {
  font-family: "Unbounded";
  font-size: 1.5vw;
  font-weight: 400;
  color: var(--black);
  background-color: var(--white);
}

body::-webkit-scrollbar { width: 0; }

::selection {
  background: var(--blue);
}

/* navigation */

.navigation {
  width: 90%;
  margin: 0vw auto;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    font-family:  "unbounded";
    color: var(--black);
    font-weight: 600;
    text-transform: lowercase;
    font-size: 1.5vw;
  }
}

/* */

/* logotip */

.logo {
  width: 7.5vw;
  height: 7vw;
  background-image: url("../images/aboutUs/logoHeader.webp");
  background-size: 120% 100%;
}

/* */


/* footer */

footer {
  margin-top: 7vw;
  width: 100%;
  background-color: var(--black);
  border-top-left-radius: 3vw;
  border-top-right-radius: 3vw;
  padding: 2vw;
  display: flex;
  justify-content: space-around;
  align-items: end;
  font-weight: 400;

  p {
    font-size: 1.13vw;
    color: var(--white);
    line-height: 1.5vw;
  }

  span {
    font-weight: 600;
  }

  .media {
    margin-left: -10vw;
  }
}

/* */


