input {
  all: unset;
} 

body {
    overflow-x: hidden;
}


.aboutUs {
  background-color: var(--white);
  padding: 1vw 0;

  /* TitleText */

  .TitleBlock {
    width: 90%;
    margin: 7vw auto 0 auto;

    h1 {
      font-size: 5vw;
      font-weight: 600;
    }

    .underTitleTextContainer {
      display: flex;
      justify-content: space-between;
      margin-top: 3vw;
      p {
        font-size: 1.3vw;
       }
    }
  }

  .blueText {
    color: var(--blue);
  }

  .backgroundBorderRadius {
    background-color: var(--white);
    height: 5vw;
    width: 100vw;
  }

  /* */

  /* roundedBlockStyle */

  .upRound {
    border-bottom-right-radius: 3vw;
    border-bottom-left-radius: 3vw;
  }

  .downRound {
    border-top-right-radius: 3vw;
    border-top-left-radius: 3vw;
    margin-top: -3vw;
  }

  /* */

  /* 3dLogoScreen */

  .LogoScreenContainer {
    z-index: -1;
    width: 100vw;
    height: 50vw;
    overflow: hidden;
    position: relative;
    z-index: -1;
    margin-top: -4vw;

    video {
      position: absolute;
      width: 110vw;
      top: -10vw;
      left: -5vw;
    }

    .newCard {
      width: 25vw;
      height: 25vw;
      border-radius: var(--borderRadius);
	    background: var(--blue);
      position: absolute;
      right: 10vw;
      top: 15vw;
      padding: 1.3vw;

      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
	    background-color: rgba(183, 194, 218, 0.41);
	
	    backdrop-filter: blur(8px);
    }

    h4 {
      font-size: 3vw;
      font-weight: 600;
      color: var(--white);
      margin-bottom: 2vw;
    }

    p {
      font-size: 0.9vw;
      font-weight: 400;
      color: var(--white);
    }

    .link {
      font-weight: 600;
      margin-top: 13.5vw;
      text-align: end;
    }

  }

  /* */

  /* H2TitleBlock */

  .WhyDreamsContainer {
    width: 100%;
    margin-top: 2vw;
    position: relative;
    
    h2 {
      text-align: center;
      line-height: 5vw;
      font-size: 5vw;
      font-weight: 600;
      color: var(--black);
    }

    img {
      width: 6vw;
      height: 6vw;
      position: absolute;
    }

    #o {
      top: -0.5vw;
      left: 14vw;
      opacity: 0.8;
    }

    #h {
      top: -0.5vw;
      left: 41.5vw;
    }

    #m {
      top: 5vw;
      left: 70vw;
      opacity: 0.9;
    }

    #a {
      top: 10vw;
      left: 59vw;
    }

  }

  /* */

  /*mini Text*/

  .miniText {
    width: 34vw;
    font-size: var(--textP);
    color: var(--black);
    margin-left: 8vw;
    margin-top: 12vw;
  }

  /* */

  /* missionText */

  .missionText {
    width: 58vw;
    margin: 22vw auto;
    position: relative;

    p {
      font-size: 3vw;
    }

    img {
      position: absolute;
      width: 17vw;
    }

    #leftPillow {
      left: -17vw;
      top: -13vw;
    }

    #rightPillow {
      left: 57vw;
      top: -12vw;
    }
  }

  /* */

  /* facts */

  .factsContainer {
    width: 90%;
    margin: 5vw auto;

    .factsBtns {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 9vw;

      .btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .btnCircle {
          width: 7vw;
          height: 7vw;
          border-radius: 100%;
          opacity: 0.8;
          background-image: url("../images/aboutUs/blueTexture2.webp");
          background-size: 140% 140%;
        }

        img {
          width: 6vw;
          height: 6vw; 
          position: absolute;
          z-index: -1;
        }
        
      }

    }

    .factsReview {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;

      h3 {
        font-size: 6vw;
        font-weight: 600;
        text-transform: capitalize;
      }

      .factCard {
        width: 30vw;
        height: 18vw;
        border-radius: var(--borderRadius);
        background-color: rgb(218, 226, 235);
        padding: 1.8vw;

        h4 {
          font-size: 2vw;
          font-weight: 600;
          text-transform: capitalize;
          margin-bottom: 2vw;
        }

        p {
           font-size: 1vw;
        }
      }
    }

  }

  /* */

  /* 3dTextScreen */

  .ThreeScreenContainer {
    z-index: -1;
    width: 100vw;
    height: 50vw;
    overflow: hidden;
    position: relative;
    z-index: -1;
    margin-top: -4vw;

    video {
      position: absolute;
      width: 115vw;
      top: -13vw;
      left: -10vw;
    }

    p {
      position: absolute;
      font-size: 1vw;
      font-weight: 600;
      color: var(--white);
      text-transform: uppercase;
      opacity: 0.9;
    }

    .first3DTExt {
      top: 35vw;
      left: 14.5vw;
    }

    .second3DTExt {
      top: 14vw;
      left: 68vw;
      text-align: end;
    }


  }

  /* */

  /* articles */

  .articles {
    width: 90%;
    margin: 0vw auto;

    h3 {
      font-size: 6vw;
      font-weight: 600;
      text-transform: capitalize;
      margin-bottom: 5vw;
    }

    .articlesContainer {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    img {
      width: 7vw;
      height: 16vw;
    }

    button {
      width: 50vw;
      height: 30vw;
      border-radius: var(--borderRadius);
      background-image: url("../images/aboutUs/article1.webp");
      background-size: 100% 100%;
    }

    .circlesGroup {
      width: 10vw;
      display: flex;
      justify-content: space-between;
      margin: 2vw auto;

      div {
        width: 1.2vw;
        height: 1.2vw;
        opacity: 0.6;
        background-image: url("../images/aboutUs/blueTexture2.webp");
        background-size: 100% 100%;
        border-radius: 100%;
      }

      .picked {
        opacity: 0.8;
        background-image: url("../images/aboutUs/blackTexture2.webp");
      }
    }

  }

  /* */

}